.App {
  height: 100vh;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  .desktop {
    width: 100%;
    height: calc(100vh - 3rem);
  }
  .start {
    position: fixed;
    bottom: 0 !important;
    width: 100%;
    height: 3rem !important;
  }
}
