.font-size-7 {
  font-size: 0.7rem !important;
}
.font-size-8 {
  font-size: 0.8rem !important;
}
.font-size-9 {
  font-size: 0.9rem !important;
}
.font-size-10 {
  font-size: 1rem !important;
}
.font-size-11 {
  font-size: 1.1rem !important;
}
.font-size-12 {
  font-size: 1.2rem !important;
}
.font-size-13 {
  font-size: 1.3rem !important;
}
.font-size-14 {
  font-size: 1.4rem !important;
}
.font-size-15 {
  font-size: 1.5rem !important;
}
.font-size-16 {
  font-size: 1.6rem !important;
}
.font-size-17 {
  font-size: 1.7rem !important;
}
.font-size-18 {
  font-size: 1.8rem !important;
}
.font-size-19 {
  font-size: 1.9rem !important;
}
.font-size-20 {
  font-size: 2rem !important;
}
.font-size-21 {
  font-size: 2.1rem !important;
}
.font-size-22 {
  font-size: 2.2rem !important;
}
.font-size-23 {
  font-size: 2.3rem !important;
}
.font-size-24 {
  font-size: 2.4rem !important;
}
.font-size-25 {
  font-size: 2.5rem !important;
}

.px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.px-1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}

.mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}

$root-900: rgb(255, 255, 255);
$root-800: rgb(225, 225, 225);
$root-700: rgb(195, 195, 195);
$root-600: rgb(165, 165, 165);
$root-500: rgb(136, 136, 136);
$root-400: rgb(106, 106, 106);
$root-300: rgb(74, 74, 74);
$root-200: rgb(46, 46, 46);
$root-100: rgb(16, 16, 16);

$red-900: rgb(183, 28, 28);
$red-800: rgb(198, 40, 40);
$red-700: rgb(211, 47, 47);
$red-600: rgb(229, 57, 53);
$red-500: rgb(244, 67, 54);
$red-400: rgb(239, 83, 80);
$red-300: rgb(229, 115, 115);
$red-200: rgb(239, 154, 154);
$red-100: rgb(255, 205, 210);

$purple-900: rgb(74, 20, 140);
$purple-800: rgb(106, 27, 154);
$purple-700: rgb(123, 31, 162);
$purple-600: rgb(142, 36, 170);
$purple-500: rgb(156, 39, 176);
$purple-400: rgb(171, 71, 188);
$purple-300: rgb(186, 104, 200);
$purple-200: rgb(206, 147, 216);
$purple-100: rgb(225, 190, 231);

$blue-900: rgb(13, 71, 161);
$blue-800: rgb(21, 101, 192);
$blue-700: rgb(25, 118, 210);
$blue-600: rgb(30, 136, 229);
$blue-500: rgb(33, 150, 243);
$blue-400: rgb(66, 165, 245);
$blue-300: rgb(100, 181, 246);
$blue-200: rgb(144, 202, 249);
$blue-100: rgb(187, 222, 251);

$teal-900: rgb(0, 77, 64);
$teal-800: rgb(0, 105, 92);
$teal-700: rgb(0, 121, 107);
$teal-600: rgb(0, 137, 123);
$teal-500: rgb(0, 150, 136);
$teal-400: rgb(38, 166, 154);
$teal-300: rgb(77, 182, 172);
$teal-200: rgb(128, 203, 196);
$teal-100: rgb(178, 223, 219);

$green-900: rgb(27, 94, 32);
$green-800: rgb(46, 125, 50);
$green-700: rgb(56, 142, 60);
$green-600: rgb(67, 160, 71);
$green-500: rgb(76, 175, 80);
$green-400: rgb(102, 187, 106);
$green-300: rgb(129, 199, 132);
$green-200: rgb(165, 214, 167);
$green-100: rgb(200, 230, 201);

$yellow-900: rgb(245, 127, 23);
$yellow-800: rgb(249, 168, 37);
$yellow-700: rgb(251, 192, 45);
$yellow-600: rgb(253, 216, 53);
$yellow-500: rgb(255, 235, 59);
$yellow-400: rgb(255, 238, 88);
$yellow-300: rgb(255, 241, 118);
$yellow-200: rgb(255, 245, 157);
$yellow-100: rgb(255, 249, 196);

.color-red-900 {
  color: $red-900 !important;
}
.color-red-800 {
  color: $red-800 !important;
}
.color-red-700 {
  color: $red-700 !important;
}
.color-red-600 {
  color: $red-600 !important;
}
.color-red-500 {
  color: $red-500 !important;
}
.color-red-400 {
  color: $red-400 !important;
}
.color-red-300 {
  color: $red-300 !important;
}
.color-red-200 {
  color: $red-200 !important;
}
.color-red-100 {
  color: $red-100 !important;
}

.color-purple-900 {
  color: $purple-900 !important;
}
.color-purple-800 {
  color: $purple-800 !important;
}
.color-purple-700 {
  color: $purple-700 !important;
}
.color-purple-600 {
  color: $purple-600 !important;
}
.color-purple-500 {
  color: $purple-500 !important;
}
.color-purple-400 {
  color: $purple-400 !important;
}
.color-purple-300 {
  color: $purple-300 !important;
}
.color-purple-200 {
  color: $purple-200 !important;
}
.color-purple-100 {
  color: $purple-100 !important;
}

.color-blue-900 {
  color: $blue-900 !important;
}
.color-blue-800 {
  color: $blue-800 !important;
}
.color-blue-700 {
  color: $blue-700 !important;
}
.color-blue-600 {
  color: $blue-600 !important;
}
.color-blue-500 {
  color: $blue-500 !important;
}
.color-blue-400 {
  color: $blue-400 !important;
}
.color-blue-300 {
  color: $blue-300 !important;
}
.color-blue-200 {
  color: $blue-200 !important;
}
.color-blue-100 {
  color: $blue-100 !important;
}

.color-teal-900 {
  color: $teal-900 !important;
}
.color-teal-800 {
  color: $teal-800 !important;
}
.color-teal-700 {
  color: $teal-700 !important;
}
.color-teal-600 {
  color: $teal-600 !important;
}
.color-teal-500 {
  color: $teal-500 !important;
}
.color-teal-400 {
  color: $teal-400 !important;
}
.color-teal-300 {
  color: $teal-300 !important;
}
.color-teal-200 {
  color: $teal-200 !important;
}
.color-teal-100 {
  color: $teal-100 !important;
}

.color-green-900 {
  color: $green-900 !important;
}
.color-green-800 {
  color: $green-800 !important;
}
.color-green-700 {
  color: $green-700 !important;
}
.color-green-600 {
  color: $green-600 !important;
}
.color-green-500 {
  color: $green-500 !important;
}
.color-green-400 {
  color: $green-400 !important;
}
.color-green-300 {
  color: $green-300 !important;
}
.color-green-200 {
  color: $green-200 !important;
}
.color-green-100 {
  color: $green-100 !important;
}

.color-yellow-900 {
  color: $yellow-900 !important;
}
.color-yellow-800 {
  color: $yellow-800 !important;
}
.color-yellow-700 {
  color: $yellow-700 !important;
}
.color-yellow-600 {
  color: $yellow-600 !important;
}
.color-yellow-500 {
  color: $yellow-500 !important;
}
.color-yellow-400 {
  color: $yellow-400 !important;
}
.color-yellow-300 {
  color: $yellow-300 !important;
}
.color-yellow-200 {
  color: $yellow-200 !important;
}
.color-yellow-100 {
  color: $yellow-100 !important;
}

.color-root-900 {
  color: $root-900 !important;
}
.color-root-800 {
  color: $root-800 !important;
}
.color-root-700 {
  color: $root-700 !important;
}
.color-root-600 {
  color: $root-600 !important;
}
.color-root-500 {
  color: $root-500 !important;
}
.color-root-400 {
  color: $root-400 !important;
}
.color-root-300 {
  color: $root-300 !important;
}
.color-root-200 {
  color: $root-200 !important;
}
.color-root-100 {
  color: $root-100 !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.cursor-pointer {
  cursor: pointer;
}

.justify-content-center {
  justify-content: center !important;
}
